<div class="navbarSection">
    <h1>Multiple API Project</h1>

    <ul class="navbar">
        <li class="navLink"><a href="/">Home</a></li>
        <li class="navLink"><a href="./weather">Weather API</a></li>
        <li class="navLink"><a href="./harryPotter">Harry Potter API</a></li>
        <li class="navLink"><a href="./chuckNorris">Chuck Norris API</a></li>
        <li class="navLink"><a href="./cocktail">Cocktail API</a></li>
        <li class="navLink"><a href="./pokemon">Pokemon API</a></li>
    </ul>
</div>